

header { 

	float: left;
	height: 15%;
	width: 80%;
	margin-top: 5px;
	margin-left: 140px;

}

main{
	float: left;
	height: 70%;
	width: 100%;
	border: 2px solid;
	border-color: white;

}

footer{
	float: left;
	height: 15%;
	width: 140%;
	background-color: #7c9c4c;
	color: white;
}

nav{
	position: relative;
	color: white;
	font-size: 21px;
	background-color: #5B7138;
}

section{
	margin-left: 40px;
	margin-right: 70px;
}



h1{
	color: #7c9c4c;
	font-family: 'Trocchi', serif;
	font-size: 45px;
	font-weight: normal; 
	line-height: 48px;
	margin-bottom:  25px;
	margin-top: 25px;
}

section > p{
	font-family: arial, helvetica, roboto, "new times roman", lato;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: justify;
}


#seccion_1, #seccion_2{

	float: left;
}


.header_1 > strong {
	color: blue;
	font-style: normal;

}

.header_1 {
	line-height: 10px;
	font-size: 27px;
	color: red;
	font-style: italic;
}

#foto1{position: absolute;
	top: 9px;
	left: 366px;
}


.header_2{
	color: #A3A0A0;
	margin-top: -20px;
	font-size: 18px;
}

#header_izquierda{
	float: right;
	margin-top: -80px;
	padding: 10px;
}

#header_izquierda > img{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 105px;
}

#numero{
	position: absolute;
	top: 43px;
	right:  586px;
}

#usuario{
	position: absolute;
	top: 43px;
	right: 420px;
}

.menu ul,li {
		display: inline-flex;
		list-style: none;
		margin: 0px;
		padding: 0px;
		border-color: #7c9c4c;
		color: white;
}

.menu a {
		display: block;
		padding: 20px;
		text-decoration: none;
		color: white;
		margin: 0px;

}
.menu a:hover {
	background-color: #546735;
}

#caja_menu{
	margin-top: 0px;
	margin-left: 140px;
}

.menu{

	background-color: #7c9c4c;
	width: 100%;
}
	
#imagen_3{
	float: left;
	margin-right: 20px;
}

.parrafo_ecologico{
	float: left;
	width: 400px;
	margin-right: 30px;
	margin-left: 120px;
	text-align: justify;
	font-family: arial, helvetica, roboto, "new times roman", lato;
	font-size: 14px;
	margin-bottom: 25px;
}

#imagenes{
	margin-top: 38px;
}


footer>article{
	float: left;
	margin-left: 100px;
}


/* Css de el formulario. */

*{box-sizing:border-box;}

form{
	margin: auto;
	width:300px;
	padding:16px;
	border-radius:10px;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"],
form input[type="reset"]{
	width:100%;
	padding:8px 16px;
	margin-top:12px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"],
form input[type="reset"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}

#secion_formulario{
	margin-top: 150px;
}


/* Pagina aceite de oliva virgen extra */

#fotos_aceite>article{
	float: left;
	margin: 40px;
	width: 200px;
	
}




#fotos_aceite>article>header{
	text-align: center;
	margin-left: 70px;
}